In [1]:
# Mount Drive files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [90]:
import pandas as pd

In [91]:
df1 = pd.read_excel("/content/Hindi_Telugu_data_paraphrased.xlsx")

In [92]:
df2 = pd.read_excel("/content/Telugu_training.xlsx")

In [93]:
df1.head()

                                                Text sentiment
0  రామచంద్రాపురం గ్రామం చుట్టూ తన స్నేహితులతో బాధ...  negative
1  అన్ని సమస్యలను రాజారాం కూతురు (సోనమ్) వ్యక్తిగ...  negative
2        ఇది బ్రిటిష్ కాలంనాటి ఫ్లాష్‌బ్యాక్ మాత్రమే  negative
3  కాస్త తేడా ఏంటంటే.. 'డోర'లో ఆ దెయ్యాలకు ఇంగ్లీ...  negative
4  మధురానగర్‌లోని ఓ ప్రైవేట్ హాస్టల్‌లో ఉంటున్న అ...  negative

In [94]:
df2.head()

                                                Text sentiment
0  విషయాల్ని ఆసక్తికరంగా చూపించాడు క్రిష్  దీనికి...  positive
1  యుద్ధ సన్నివేశాల్లో కీరవాణి రీరికార్డింగ్ అదిర...  positive
2  రిఫ్రెషింగ్ గా అనిపిస్తుంది  పాటలన్నీ హుషారెత్...  positive
3  ఎక్కువైనట్లు అనిపించినా క్లైమాక్స్ ఆకట్టుకుంటు...  positive
4  అనిపించాయి కానీ తెరమీద మాత్రం చాలా బాగున్నాయి ...  positive

In [95]:
df = pd.concat([df1, df2])

In [96]:
df

                                                  Text sentiment
0    రామచంద్రాపురం గ్రామం చుట్టూ తన స్నేహితులతో బాధ...  negative
1    అన్ని సమస్యలను రాజారాం కూతురు (సోనమ్) వ్యక్తిగ...  negative
2          ఇది బ్రిటిష్ కాలంనాటి ఫ్లాష్‌బ్యాక్ మాత్రమే  negative
3    కాస్త తేడా ఏంటంటే.. 'డోర'లో ఆ దెయ్యాలకు ఇంగ్లీ...  negative
4    మధురానగర్‌లోని ఓ ప్రైవేట్ హాస్టల్‌లో ఉంటున్న అ...  negative
..                                                 ...       ...
395  కొన్ని కామెడీ పంచులు పేలాయి దర్శకుడు నాగేశ్వరర...  negative
396  ప్రయత్నించాడు దర్శకుడు ధరణిధరన్ కథ విషయంలో భిన...  negative
397  మధ్య ముందో రొమాంటిక్ సీన్ ఉండాలి అన్నట్లు సాగు...  negative
398  దయ్యం ఆవహించి తనపై అత్యాచారం చేయబోయిన భర్త హర్...  negative
399  ఆకట్టుకుంటుంది ఆమె సినిమాకు ప్లస్ కాలేకపోయింది...  negative

[800 rows x 2 columns]

In [97]:
#converting the labels to numbers
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['labels'] = le.fit_transform(df.sentiment.values)

In [98]:
df.head()

                                                Text sentiment  labels
0  రామచంద్రాపురం గ్రామం చుట్టూ తన స్నేహితులతో బాధ...  negative       0
1  అన్ని సమస్యలను రాజారాం కూతురు (సోనమ్) వ్యక్తిగ...  negative       0
2        ఇది బ్రిటిష్ కాలంనాటి ఫ్లాష్‌బ్యాక్ మాత్రమే  negative       0
3  కాస్త తేడా ఏంటంటే.. 'డోర'లో ఆ దెయ్యాలకు ఇంగ్లీ...  negative       0
4  మధురానగర్‌లోని ఓ ప్రైవేట్ హాస్టల్‌లో ఉంటున్న అ...  negative       0

In [99]:
from sklearn.utils import shuffle
df = shuffle(df)

In [100]:
positive_labels = (df['labels'] == 1).sum()
negative_labels = (df['labels'] == 0).sum()

In [101]:
print(f"Number of positive labels: {positive_labels}")
print(f"Number of negative labels: {negative_labels}")

Number of positive labels: 400
Number of negative labels: 400

In [102]:
df

                                                  Text sentiment  labels
296  నాగ్ చరణ్ (దిగంత్) రాయల్ కోబ్రా పేరుతో మ్యూజిక...  negative       0
267  చిన్నప్పట్నుంచి ఆడవాసనే ఎరగకుండా పెరిగిన ప్రభు...  negative       0
63   పాత్రల చిత్రణ  హాస్యం  పాటలు  రొమాన్స్ ఇలా ప్ర...  negative       0
133  చేయడానికి ప్రథమార్ధంలో కథను ఓ కొలిక్కి తేవడాని...  positive       1
66   ఎన్నో ప్రశ్నలతో సినిమా నుంచి బయటకు వచ్చాం. కొన...  negative       0
..                                                 ...       ...     ...
71   ఒక కోటీశ్వరుడి కూతురు ప్రియ (శృతి సోధి) ప్రశాం...  negative       0
106  కాబట్టి ప్రేక్షకులు కనెక్ట్ అవ్వడం కష్టం. ఫస్ట...  negative       0
270  క్లైమాక్స్‌లో కథ చాలా సీరియస్‌గా మారుతుంది  రై...  positive       1
35   ఇలా ఎప్పుడో ఔట్ డేట్ అయిపోయిన స్టయిల్లో హీరో ఇ...  positive       1
102  దర్శకుడు ధరణీధరన్ ప్రయత్నించాడు కానీ కథను భిన్...  negative       0

[800 rows x 3 columns]

In [103]:
print(df['labels'].dtype)

int64

In [104]:
from sklearn.model_selection import train_test_split
train_texts, val_texts, train_labels_str, val_labels_str = train_test_split(list(df['Text']), list(df['sentiment']), test_size=.2)

In [105]:
!pip install sentencepiece

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.10/dist-packages (0.1.99)

In [106]:
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (4.29.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.14.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.13.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (2023.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)

In [107]:
!pip uninstall -y transformers accelerate
!pip install transformers accelerate

Found existing installation: transformers 4.29.2
Uninstalling transformers-4.29.2:
  Successfully uninstalled transformers-4.29.2
Found existing installation: accelerate 0.19.0
Uninstalling accelerate-0.19.0:
  Successfully uninstalled accelerate-0.19.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Using cached transformers-4.29.2-py3-none-any.whl (7.1 MB)
Collecting accelerate
  Using cached accelerate-0.19.0-py3-none-any.whl (219 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.14.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.13.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from accelerate) (5.9.5)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from accelerate) (2.0.1+cu118)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (2023.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers) (4.5.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->accelerate) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->accelerate) (16.0.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.6.0->accelerate) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.6.0->accelerate) (1.3.0)
Installing collected packages: transformers, accelerate
Successfully installed accelerate-0.19.0 transformers-4.29.2

In [108]:
!pip install torch==1.7.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement torch==1.7.0 (from versions: 1.11.0, 1.12.0, 1.12.1, 1.13.0, 1.13.1, 2.0.0, 2.0.1)
ERROR: No matching distribution found for torch==1.7.0

In [109]:
from transformers import XLMRobertaTokenizer, XLMRobertaForSequenceClassification
import torch
 
tokenizer = XLMRobertaTokenizer.from_pretrained('xlm-roberta-base')
model = XLMRobertaForSequenceClassification.from_pretrained('xlm-roberta-base',num_labels=2)
#print(model)

train_encodings = tokenizer(train_texts, truncation=True, padding=True)
val_encodings = tokenizer(val_texts, truncation=True, padding=True)

Some weights of the model checkpoint at xlm-roberta-base were not used when initializing XLMRobertaForSequenceClassification: ['lm_head.layer_norm.bias', 'roberta.pooler.dense.weight', 'roberta.pooler.dense.bias', 'lm_head.bias', 'lm_head.decoder.weight', 'lm_head.dense.bias', 'lm_head.layer_norm.weight', 'lm_head.dense.weight']
- This IS expected if you are initializing XLMRobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing XLMRobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of XLMRobertaForSequenceClassification were not initialized from the model checkpoint at xlm-roberta-base and are newly initialized: ['classifier.dense.bias', 'classifier.dense.weight', 'classifier.out_proj.bias', 'classifier.out_proj.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [110]:
class spanish_Dataset(torch.utils.data.Dataset):
    def __init__(self, encodings, labels):
        self.encodings = encodings
        self.labels = labels

    def __getitem__(self, idx):
        item = {key: torch.tensor(val[idx]) for key, val in self.encodings.items()}
        item['labels'] = torch.tensor(self.labels[idx])
        return item

    def __len__(self):
        return len(self.labels)

train_labels = le.fit_transform(train_labels_str)
val_labels = le.transform(val_labels_str)

train_dataset = spanish_Dataset(train_encodings, train_labels)
val_dataset = spanish_Dataset(val_encodings, val_labels)

In [111]:
from sklearn.metrics import accuracy_score, precision_recall_fscore_support

def compute_metrics(pred):
    labels = pred.label_ids
    preds = pred.predictions.argmax(-1)
    precision, recall, f1, _ = precision_recall_fscore_support(labels, preds, average='micro')
    acc = accuracy_score(labels, preds)
    return {'Accuracy': acc,
            'F1': f1,
            'Precision': precision,
            'Recall': recall
           }

In [112]:
from transformers import EarlyStoppingCallback, IntervalStrategy,Trainer, TrainingArguments

In [113]:
!pip install --upgrade accelerate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: accelerate in /usr/local/lib/python3.10/dist-packages (0.19.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from accelerate) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from accelerate) (23.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from accelerate) (5.9.5)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from accelerate) (6.0)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from accelerate) (2.0.1+cu118)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (3.12.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (4.5.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->accelerate) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->accelerate) (16.0.5)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.6.0->accelerate) (2.1.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.6.0->accelerate) (1.3.0)

In [114]:
training_args = TrainingArguments(
    output_dir='./results',          # output directory
    num_train_epochs=5,              # total number of training epochs
    per_device_train_batch_size=8,  # batch size per device during training
    per_device_eval_batch_size=8,   # batch size for evaluation
    warmup_steps=500,                # number of warmup steps for learning rate scheduler
    weight_decay=0.01,               # strength of weight decay
    do_eval=True,
    evaluation_strategy="steps",
    load_best_model_at_end=True,
    #EarlyStoppingCallback = EarlyStoppingCallback(early_stopping_patience=3)
)

trainer = Trainer(
    model=model,                         # the instantiated 🤗 Transformers model to be trained
    args=training_args,                  # training arguments, defined above
    train_dataset=train_dataset,         # training dataset
    eval_dataset= val_dataset,
    compute_metrics=compute_metrics,
    callbacks=[EarlyStoppingCallback(early_stopping_patience=3)]
)

In [115]:
from transformers import Trainer, TrainingArguments

training_args = TrainingArguments(
    output_dir='./results',          # output directory
    num_train_epochs=5,              # total number of training epochs
    per_device_train_batch_size=8,  # batch size per device during training
    per_device_eval_batch_size=8,   # batch size for evaluation
    warmup_steps=500,                # number of warmup steps for learning rate scheduler
    weight_decay=0.01,               # strength of weight decay
    logging_dir='./logs',            # directory for storing logs
    logging_steps=10,
    do_eval=True,
    evaluation_strategy="steps",
    eval_steps=10
)

trainer = Trainer(
    model=model,                         # the instantiated 🤗 Transformers model to be trained
    args=training_args,                  # training arguments, defined above
    train_dataset=train_dataset,         # training dataset
    eval_dataset= val_dataset,
    compute_metrics=compute_metrics # evaluation dataset
)

trainer.train()

/usr/local/lib/python3.10/dist-packages/transformers/optimization.py:407: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(

TrainOutput(global_step=400, training_loss=0.6878516912460327, metrics={'train_runtime': 525.8708, 'train_samples_per_second': 6.085, 'train_steps_per_second': 0.761, 'total_flos': 841955377152000.0, 'train_loss': 0.6878516912460327, 'epoch': 5.0})

In [116]:
metrics=trainer.evaluate()

In [117]:
metrics
#  Telugu +English in Training(Telugu) validation

{'eval_loss': 0.7037316560745239,
 'eval_Accuracy': 0.44375,
 'eval_F1': 0.44375,
 'eval_Precision': 0.44375,
 'eval_Recall': 0.44375,
 'eval_runtime': 4.8938,
 'eval_samples_per_second': 32.694,
 'eval_steps_per_second': 4.087,
 'epoch': 5.0}

In [118]:
test_df = pd.read_excel("/content/Telugu_test.xlsx")

In [119]:
test_df.head(2)

                                                Text sentiment
0  అంత ప్రభావవంతంగా చెప్పలేదు  ఐతే చిరు మాత్రం తన...  positive
1  మనదైన క్యారెక్టర్లతో లోకలైజ్ చేయడమే ఈ సినిమాలో...  positive

In [120]:
len(test_df)

400

In [121]:
# Count the number of positive and negative labels
positive_labels = (test_df['sentiment'] == "positive").sum()
negative_labels = (test_df['sentiment'] == "negative").sum()
#neutral_labels =  (test_df['sentiment'] == "neutral").sum()

In [122]:
print(f"Number of positive labels: {positive_labels}")
print(f"Number of negative labels: {negative_labels}")
#print(f"Number of neutral lables : {neutral_labels}")

Number of positive labels: 200
Number of negative labels: 200

In [123]:
#df_test = test_df[test_df['sentiment'] != 'neutral']

In [124]:
#df_test.head()

In [125]:
#df_test.to_csv('/content/my_data.csv', index=False)

In [126]:
#!ls /content/

In [127]:
df_test = test_df

In [128]:
test_texts = list(df_test['Text'])

In [129]:
test_labels = le.transform(df_test['sentiment'])

In [130]:
test_encodings = tokenizer(test_texts, truncation=True, padding=True)
test_dataset = spanish_Dataset(test_encodings, test_labels)

In [131]:
test_metrics = trainer.evaluate(test_dataset)

In [132]:
#Telugu + English in training
test_metrics

{'eval_loss': 0.6956744194030762,
 'eval_Accuracy': 0.5,
 'eval_F1': 0.5,
 'eval_Precision': 0.5,
 'eval_Recall': 0.5,
 'eval_runtime': 12.5025,
 'eval_samples_per_second': 31.994,
 'eval_steps_per_second': 3.999,
 'epoch': 5.0}