<a href="https://colab.research.google.com/github/formallinguist/NLP-projects./blob/main/Bow_and_Tf_IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WORD EMBEDDING

1. CONVERTING TEXT TO VECTOR
2. COUNTING THE OCCURANCE OF EVERY WORD IN VOCAB(BOW METHOD)
3. FIND FREQUENCY OF THE WORD AND SEE HOW IMPORTANT THE WORD IS IN THE DOCUMENT (TF-IDF).
4.These are classical methods, Bow and Tf/idf cannot understand the word in the context.

In [56]:
import nltk

In [57]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
from nltk.tokenize import sent_tokenize

In [ ]:
text = '''An apple is an edible fruit produced by an apple tree (Malus domestica).
 Apple trees are cultivated worldwide and are the most widely grown species in the genus Malus. 
 The tree originated in Central Asia, where its wild ancestor, Malus sieversii, is still found today.
 Apples have been grown for thousands of years in Asia and Europe and were brought to North America by European colonists.
 Apples have religious and mythological significance in many cultures, including Norse, Greek, and European Christian tradition.'''

In [ ]:
Text = sent_tokenize(text)

In [ ]:
Text

['An apple is an edible fruit produced by an apple tree (Malus domestica).',
 'Apple trees are cultivated worldwide and are the most widely grown species in the genus Malus.',
 'The tree originated in Central Asia, where its wild ancestor, Malus sieversii, is still found today.',
 'Apples have been grown for thousands of years in Asia and Europe and were brought to North America by European colonists.',
 'Apples have religious and mythological significance in many cultures, including Norse, Greek, and European Christian tradition.']

In [ ]:
def preprocess(document):
  document = document.lower()
  words = word_tokenize(document)
  words = [word for word in words if word not in stopwords.words('english')]
  document = " ".join(words)
  return document

In [59]:
ptext = [preprocess(document) for document in Text]

In [60]:
ptext

['apple edible fruit produced apple tree ( malus domestica ) .',
 'apple trees cultivated worldwide widely grown species genus malus .',
 'tree originated central asia , wild ancestor , malus sieversii , still found today .',
 'apples grown thousands years asia europe brought north america european colonists .',
 'apples religious mythological significance many cultures , including norse , greek , european christian tradition .']

CONVERSION OF TEXT TO NUMBERS IS KNOWN AS VECTORS.

In [ ]:
Vectorizer = CountVectorizer()

In [ ]:
Bow = Vectorizer.fit_transform(ptext)

Bag of words model.

In [ ]:
print(Bow.toarray())

[[0 0 2 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0
  1 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0
  0 1 1 0 1 0]
 [0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 1 0 1 0
  1 0 0 1 0 0]
 [1 0 0 1 1 1 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0
  0 0 0 0 0 1]
 [0 0 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 1 0 1 1 1 0 0 0 1 0 1 0 0 0 0 1
  0 0 0 0 0 0]]

In [ ]:
len(Vectorizer.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

42

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(Bow.toarray(),columns=Vectorizer.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   america  ancestor  apple  apples  ...  widely  wild  worldwide  years
0        0         0      2       0  ...       0     0          0      0
1        0         0      1       0  ...       1     0          1      0
2        0         1      0       0  ...       0     1          0      0
3        1         0      0       1  ...       0     0          0      1
4        0         0      0       1  ...       0     0          0      0

[5 rows x 42 columns]

TF/IDF.
1. Term Frequency.
2. Inverse Document Frequency.

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [61]:
ptext = [preprocess(document) for document in Text]

In [64]:
Tf_Vec= TfidfVectorizer()

In [65]:
tfidf= Tf_Vec.fit_transform(ptext)

In [66]:
pd.DataFrame(tfidf.toarray(),columns=Tf_Vec.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

    america  ancestor     apple  ...      wild  worldwide     years
0  0.000000  0.000000  0.581380  ...  0.000000   0.000000  0.000000
1  0.000000  0.000000  0.289802  ...  0.000000   0.359203  0.000000
2  0.000000  0.320251  0.000000  ...  0.320251   0.000000  0.000000
3  0.322687  0.000000  0.000000  ...  0.000000   0.000000  0.322687
4  0.000000  0.000000  0.000000  ...  0.000000   0.000000  0.000000

[5 rows x 42 columns]

In [67]:
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

stemmer = PorterStemmer()
word_lemmatizer = WordNetLemmatizer()

APPLYING STEMMING AND LEMMATIZATION TO THE CORPUS.

In [79]:
def preprocess(document):
  document = document.lower()
  words = word_tokenize(document)
  words = [word for word in words if word not in stopwords.words('english')]
  words = [word_lemmatizer.lemmatize(word, pos='v') for word in words]
  #words = [stemmer.stem(word) for word in words]
  document = " ".join(words)
  return document

In [80]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [81]:
ptext = [preprocess(document) for document in Text]
Tf_Vec= TfidfVectorizer()
tfidf= Tf_Vec.fit_transform(ptext)
pd.DataFrame(tfidf.toarray(),columns=Tf_Vec.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

    america  ancestor     apple  ...      wild  worldwide     years
0  0.000000  0.000000  0.589172  ...  0.000000   0.000000  0.000000
1  0.000000  0.000000  0.300698  ...  0.000000   0.372708  0.000000
2  0.000000  0.323627  0.000000  ...  0.323627   0.000000  0.000000
3  0.322687  0.000000  0.000000  ...  0.000000   0.000000  0.322687
4  0.000000  0.000000  0.000000  ...  0.000000   0.000000  0.000000

[5 rows x 41 columns]