<a href="https://colab.research.google.com/github/formallinguist/NLP-projects./blob/main/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

#TEXT CLASSIFICATION.
-SUPRAVISED LEARNING.
-IDENTIFIES THE GIVEN CATEGORIES OF THE TEXT.
      -BINARY[0,1]
      -multi class[1,2,3]text =1
      -multi label[text=[1,,2,3]]

In [1]:
#Text processing
import random
import nltk
import pandas as pd
nltk.download('punkt')
nltk.download('stopwords')

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

#model building
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import neighbors
import pandas as pd
import pickle
# evaluation
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [3]:
Text = pd.read_csv("/content/cleaned data")

In [4]:
Text.head(7)

   Unnamed: 0  Unnamed: 0.1  ...             Date Rating
0           0             0  ...      9 August         5
1           1             1  ...     23 March  21      5
2           2             2  ...      4 August         5
3           3             3  ...   23 February         5
4           4             4  ...      9 August         5
5           5             5  ...      9 August         5
6           6             6  ...   24 February         5

[7 rows x 5 columns]

In [5]:
Text['Target'] = Text.Rating.apply(lambda x: 'happy' if x>3 else 'not happy')

In [6]:
Text.head(4)

   Unnamed: 0  Unnamed: 0.1  ... Rating Target
0           0             0  ...      5  happy
1           1             1  ...      5  happy
2           2             2  ...      5  happy
3           3             3  ...      5  happy

[4 rows x 6 columns]

In [7]:
stemmer = PorterStemmer()
wordnet_Lemmatizer = WordNetLemmatizer()

In [8]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [9]:
def preprocess(document, stem = True):
  document = document.lower()
  words = word_tokenize(document)
  words = [word for word in words if word not in stopwords.words('english')]
  words = [wordnet_Lemmatizer.lemmatize(word,pos='v') for word in words]
  #words = [stemmer.stem(word) for word in words]
  document = " ".join(words)
  return document

In [10]:
Text['Processed'] = Text.Review.apply(preprocess)

In [11]:
Text.head(4)

   Unnamed: 0  ...                                          Processed
0           0  ...  buy product bass quality , disappoint big way....
1           1  ...  offer many impressive feature amaze look ... ....
2           2  ...  comfort : wear workout worry fall wing thing p...
3           3  ...  awesome product . bass great . sound quality a...

[4 rows x 7 columns]

In [12]:
Text.shape

(290, 7)

In [31]:
Text.Target.value_counts()

happy    290
Name: Target, dtype: int64

In [14]:
vec= CountVectorizer()

In [15]:
xvec = vec.fit_transform(Text['Processed'])

In [32]:
x_train,x_test,y_train,y_test = train_test_split(xvec,Text['Target'],test_size=2,random_state=42)

In [33]:
knn= neighbors.KNeighborsClassifier()

In [34]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [35]:
y_pred=knn.predict(x_test)

In [36]:
accuracy_score(y_pred,y_test)

1.0

In [37]:
f1_score(y_pred,y_test, average='weighted')

1.0

In [38]:
from sklearn.naive_bayes import MultinomialNB

In [41]:
nb = MultinomialNB ()

In [42]:
nb.fit(x_train,y_train)

MultinomialNB()

In [43]:
y_pred = nb.predict(x_test)

In [44]:
text = "I am not satisfied with the product"

In [45]:
demo = vec.transform([text])

In [46]:
knn.predict(demo)

array(['happy'], dtype=object)

In [47]:
nb.predict(demo)

array(['happy'], dtype='<U5')

#SAVE THE MODEL.

In [48]:
import pickle

In [49]:
pickle.dump(knn,open("knn.pickle",'wb'))

In [50]:
pickle.dump(vec,open("vec.pickle",'wb'))

LOAD MODEL

In [55]:
knn_model=pickle.load(open("knn.pickle",'rb'))

In [56]:
vec_model=pickle.load(open("vec.pickle",'rb'))

In [57]:
text = "I am not satisfied with the product"

In [58]:
demo = vec.transform([text])

In [59]:
knn.predict(demo)

array(['happy'], dtype=object)