<a href="https://colab.research.google.com/github/formallinguist/NLP-projects./blob/main/DataFrame_to_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [91]:
#Converting Dataframe to csv

In [92]:
Text = pd.read_csv("/content/Amazon_reviews.csv")

In [93]:
 Text.head(7)

   Unnamed: 0  ...              Rating
0           0  ...  5.0 out of 5 stars
1           1  ...  5.0 out of 5 stars
2           2  ...  5.0 out of 5 stars
3           3  ...  5.0 out of 5 stars
4           4  ...  5.0 out of 5 stars
5           5  ...  5.0 out of 5 stars
6           6  ...  5.0 out of 5 stars

[7 rows x 4 columns]

In [94]:
import re

Cleaning of Reviews.

In [95]:
Text = Text.replace('\n','', regex=True)

In [96]:
Text

     Unnamed: 0  ...              Rating
0             0  ...  5.0 out of 5 stars
1             1  ...  5.0 out of 5 stars
2             2  ...  5.0 out of 5 stars
3             3  ...  5.0 out of 5 stars
4             4  ...  5.0 out of 5 stars
..          ...  ...                 ...
285         285  ...  5.0 out of 5 stars
286         286  ...  5.0 out of 5 stars
287         287  ...  5.0 out of 5 stars
288         288  ...  5.0 out of 5 stars
289         289  ...  5.0 out of 5 stars

[290 rows x 4 columns]

In [97]:
Text = Text.replace('Reviewed in India on','',regex=True)

In [98]:
Text

     Unnamed: 0  ...              Rating
0             0  ...  5.0 out of 5 stars
1             1  ...  5.0 out of 5 stars
2             2  ...  5.0 out of 5 stars
3             3  ...  5.0 out of 5 stars
4             4  ...  5.0 out of 5 stars
..          ...  ...                 ...
285         285  ...  5.0 out of 5 stars
286         286  ...  5.0 out of 5 stars
287         287  ...  5.0 out of 5 stars
288         288  ...  5.0 out of 5 stars
289         289  ...  5.0 out of 5 stars

[290 rows x 4 columns]

In [99]:
Text = Text.replace('out of 5 stars'," ", regex=True)

In [100]:
Text

     Unnamed: 0  ... Rating
0             0  ...  5.0
1             1  ...  5.0
2             2  ...  5.0
3             3  ...  5.0
4             4  ...  5.0
..          ...  ...    ...
285         285  ...  5.0
286         286  ...  5.0
287         287  ...  5.0
288         288  ...  5.0
289         289  ...  5.0

[290 rows x 4 columns]

In [101]:
Text = Text.replace('.0'," ",regex=True)

In [102]:
Text

     Unnamed: 0  ... Rating
0             0  ...   5
1             1  ...   5
2             2  ...   5
3             3  ...   5
4             4  ...   5
..          ...  ...    ...
285         285  ...   5
286         286  ...   5
287         287  ...   5
288         288  ...   5
289         289  ...   5

[290 rows x 4 columns]

In [90]:
Text.to_csv('cleaned data')