<a href="https://colab.research.google.com/github/formallinguist/NLP-projects./blob/main/DataFrame_to_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [4]:
#Converting Dataframe to csv

In [58]:
Text = pd.read_csv("/content/Amazon_reviews.csv")

In [67]:
 Text.head(7)

   Unnamed: 0  ...              Rating
0           0  ...  5.0 out of 5 stars
1           1  ...  5.0 out of 5 stars
2           2  ...  5.0 out of 5 stars
3           3  ...  5.0 out of 5 stars
4           4  ...  5.0 out of 5 stars
5           5  ...  5.0 out of 5 stars
6           6  ...  5.0 out of 5 stars

[7 rows x 4 columns]

In [68]:
import re

Cleaning of Reviews.

In [78]:
Text = Text.replace('\n','', regex=True)

In [79]:
Text = Text.replace('Reviewed in India on','',regex=True)

In [80]:
Text = Text.replace('out of 5 stars'," ", regex=True)

In [82]:
Text = Text.replace('.0'," ",regex=True)

In [90]:
Text.to_csv('cleaned data')